header
    a(href="index.html")
        img(src="img/logo.png", alt="")
    .header-right
        
        .header-right-item
            ul
                li
                    svg(xmlns="http://www.w3.org/2000/svg" width="16" height="19" viewBox="0 0 16 19" fill="none")
                        path(d="M12.1667 1.66667H14.6667C14.8877 1.66667 15.0996 1.75446 15.2559 1.91074C15.4122 2.06702 15.5 2.27899 15.5 2.5V17.5C15.5 17.721 15.4122 17.933 15.2559 18.0893C15.0996 18.2455 14.8877 18.3333 14.6667 18.3333H1.33333C1.11232 18.3333 0.900358 18.2455 0.744078 18.0893C0.587797 17.933 0.5 17.721 0.5 17.5V2.5C0.5 2.27899 0.587797 2.06702 0.744078 1.91074C0.900358 1.75446 1.11232 1.66667 1.33333 1.66667H3.83333V0H5.5V1.66667H10.5V0H12.1667V1.66667ZM12.1667 3.33333V5H10.5V3.33333H5.5V5H3.83333V3.33333H2.16667V16.6667H13.8333V3.33333H12.1667ZM3.83333 6.66667H12.1667V8.33333H3.83333V6.66667ZM3.83333 10H12.1667V11.6667H3.83333V10Z" fill="#78797D")
                li
                    svg(xmlns="http://www.w3.org/2000/svg" width="18" height="17" viewBox="0 0 18 17" fill="none")
                        path(d="M4.37913 13.8333L0.666626 16.75V1.33333C0.666626 1.11232 0.754423 0.900358 0.910704 0.744078C1.06698 0.587797 1.27895 0.5 1.49996 0.5H16.5C16.721 0.5 16.9329 0.587797 17.0892 0.744078C17.2455 0.900358 17.3333 1.11232 17.3333 1.33333V13C17.3333 13.221 17.2455 13.433 17.0892 13.5893C16.9329 13.7455 16.721 13.8333 16.5 13.8333H4.37913ZM3.80246 12.1667H15.6666V2.16667H2.33329V13.3208L3.80246 12.1667ZM8.16663 6.33333H9.83329V8H8.16663V6.33333ZM4.83329 6.33333H6.49996V8H4.83329V6.33333ZM11.5 6.33333H13.1666V8H11.5V6.33333Z" fill="#78797D")
                li
                    svg(xmlns="http://www.w3.org/2000/svg" width="16" height="19" viewBox="0 0 16 19" fill="none")
                        path(d="M13 7.33333C13 6.00725 12.4732 4.73548 11.5355 3.7978C10.5978 2.86012 9.32604 2.33333 7.99996 2.33333C6.67388 2.33333 5.40211 2.86012 4.46443 3.7978C3.52674 4.73548 2.99996 6.00725 2.99996 7.33333V14H13V7.33333ZM14.6666 14.5558L15 15C15.0464 15.0619 15.0747 15.1355 15.0816 15.2126C15.0886 15.2896 15.0739 15.3671 15.0393 15.4363C15.0047 15.5055 14.9515 15.5638 14.8857 15.6044C14.8199 15.6451 14.744 15.6667 14.6666 15.6667H1.33329C1.25591 15.6667 1.18006 15.6451 1.11424 15.6044C1.04841 15.5638 0.99522 15.5055 0.960615 15.4363C0.926009 15.3671 0.911361 15.2896 0.91831 15.2126C0.925259 15.1355 0.953531 15.0619 0.999959 15L1.33329 14.5558V7.33333C1.33329 5.56522 2.03567 3.86953 3.28591 2.61929C4.53616 1.36905 6.23185 0.666666 7.99996 0.666666C9.76807 0.666666 11.4638 1.36905 12.714 2.61929C13.9642 3.86953 14.6666 5.56522 14.6666 7.33333V14.5558ZM5.91663 16.5H10.0833C10.0833 17.0525 9.8638 17.5824 9.4731 17.9731C9.0824 18.3638 8.55249 18.5833 7.99996 18.5833C7.44743 18.5833 6.91752 18.3638 6.52682 17.9731C6.13612 17.5824 5.91663 17.0525 5.91663 16.5Z" fill="#78797D")

            .header-right-item-avatar
                img(src="img/avatar.png", alt="")
                svg(xmlns="http://www.w3.org/2000/svg" width="12" height="8" viewBox="0 0 12 8" fill="none")
                    path(d="M5.99999 4.97668L10.125 0.851681L11.3033 2.03001L5.99999 7.33335L0.696655 2.03001L1.87499 0.851681L5.99999 4.97668Z" fill="#78797D")


