@import "../base/base"
@import "../base/fonts"
@import "../blocks/header"
@import "../blocks/footer"
@import "../blocks/project"



[data-tab-content]
    display: none
.active[data-tab-content]
    display: block
.tab
    cursor: pointer

.tab.active
    color: #1B1D22
    position: relative
    span
        color: #E65F05
    &:after
        content: ""
        width: 100%
        height: 2px
        background: #E65F05
        position: absolute
        right: 0
        bottom: -9px

header
    position: relative
    z-index: 99

.main-title
    margin-top: 32px
    margin-bottom: 23px
    h1
        font-family: Inter, sans-serif
        font-style: normal
        font-weight: 500
        font-size: 28px
        line-height: 32px
        color: #1B1D22
        span
            color: #9D9E9F
    .main-title-flex
        display: flex
        align-items: center
        justify-content: space-between
        form
            min-width: 360px
            position: relative
            input
                width: 100%
                font-family: 'Inter', sans-serif
                font-style: normal
                font-weight: normal
                font-size: 14px
                line-height: 24px
                color: #78797D
                background: #FFFFFF
                border: 2px solid #E0E0E0
                box-sizing: border-box
                border-radius: 4px
                padding: 6px
                padding-left: 36px
                &::placeholder
                    font-family: 'Inter', sans-serif
                    font-style: normal
                    font-weight: normal
                    font-size: 14px
                    line-height: 24px
                    font-feature-settings: 'cv10' on, 'cv05' on
                    color: #78797D
            svg
                position: absolute
                top: 50%
                transform: translateY(-50%)
                left: 9px

.tabs
    display: flex
    margin-bottom: 24px
    display: flex
    border-bottom: 1px solid #D1D1D1
    padding-bottom: 8px
    li
        font-family: Inter, sans-serif
        font-style: normal
        font-weight: 500
        font-size: 14px
        line-height: 20px
        font-feature-settings: 'cv10' on, 'cv05' on
        color: #78797D
        span
            color: #9D9E9F
            margin-left: 5px

        &:not(:last-child)
            margin-right: 16px


.hire-main-blok
    display: flex
    .hire-main-side
        margin-right: 72px
        min-width: 240px
        background: #FFFFFF
        box-shadow: 0px 1px 2px rgba(18, 18, 18, 0.06), 0px 4px 12px rgba(18, 18, 18, 0.08)
        padding: 24px 12px 0px 12px
        min-height: 3000px
        ul
            li
                padding: 12px 0px
                position: relative
                a
                    display: flex
                    align-items: center
                    
                    svg
                        margin-right: 12px
                    p, span
                        font-family: Inter, sans-serif
                        font-style: normal
                        font-weight: 500
                        font-size: 14px
                        line-height: 20px
                        font-feature-settings: 'cv10' on, 'cv05' on
                        color: #78797D
                    .arr
                        margin-right: 0
                        position: absolute
                        right: 0
                        transform: rotate(180deg)

                .dropdown-ul
                    margin-top: 8px
                    padding-left: 10px
            .active-li
                p
                    color:  #1B1D22
                svg
                    path
                        fill: #E65F05
                .dropdown-ul
                    li
                        position: relative
                        a
                            svg
                                path
                                    fill: #E65F05
                            p 
                                color:  #1B1D22
               

    .hire-main
        margin: 0 auto

.ul-li-active
    position: relative
    z-index: 9
    &:after
        content: ""
        background: #F5F5F5
        position: absolute
        width: 238px
        height: 32px
        top: 5px
        z-index: -1
        right: -12px
        display: block
        border-left: 2px solid #e65f05


@media (max-width: 1585px)
    .hire-main-blok
        .hire-main-side
            margin-right: 0
        .hire-main
            margin: 0 auto
            max-width: 1056px
    .project-member-item-manager
        margin-right: 85px!important
    .line
        width: 1056px!important