extends ../layout/layout.pug

block variables
    - var title = 'ITHIRE';

block links
    - var link = 'screen.css';

block scripts
    - var js = 'index.js';

block header
    include ../blocks/header.pug

block content
    .screen-main
        h1 Web designer to create an awesome website design for AI start-up
        .screen-main-date
            .screen-main-date-item
                svg(xmlns="http://www.w3.org/2000/svg" width="8" height="12" viewBox="0 0 8 12" fill="none")
                    path(d="M3.02317 6.00011L7.14817 10.1251L5.96984 11.3034L0.666504 6.00011L5.96984 0.696777L7.14817 1.87511L3.02317 6.00011Z" fill="#9D9E9F")
                input(type="text" placeholder="Mon, Mar 18, 2021" id="date").datep
                label(for="date")

                    svg.calendar-icon(xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none")
                        path(d="M13.1665 2.50016H16.4998C16.7209 2.50016 16.9328 2.58796 17.0891 2.74424C17.2454 2.90052 17.3332 3.11248 17.3332 3.3335V16.6668C17.3332 16.8878 17.2454 17.0998 17.0891 17.2561C16.9328 17.4124 16.7209 17.5002 16.4998 17.5002H1.49984C1.27882 17.5002 1.06686 17.4124 0.910582 17.2561C0.754301 17.0998 0.666504 16.8878 0.666504 16.6668V3.3335C0.666504 3.11248 0.754301 2.90052 0.910582 2.74424C1.06686 2.58796 1.27882 2.50016 1.49984 2.50016H4.83317V0.833496H6.49984V2.50016H11.4998V0.833496H13.1665V2.50016ZM11.4998 4.16683H6.49984V5.8335H4.83317V4.16683H2.33317V7.50016H15.6665V4.16683H13.1665V5.8335H11.4998V4.16683ZM15.6665 9.16683H2.33317V15.8335H15.6665V9.16683Z" fill="#E65F05")
                svg.screen-ne(xmlns="http://www.w3.org/2000/svg" width="8" height="12" viewBox="0 0 8 12" fill="none")
                    path(d="M4.97656 6.00011L0.851562 1.87511L2.0299 0.696777L7.33323 6.00011L2.0299 11.3034L0.851562 10.1251L4.97656 6.00011Z" fill="#9D9E9F")
            span Today
        .screen-main-content
            p Daily total: 02:30
            .screen-main-content-blok
                .num 10
                .screen-main-content-blok-item
                    .screen-main-content-blok-item-screen
                        a(href="img/screen1_4x.jpg" data-fancybox="images")
                            .overlay
                                svg(xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none")
                                    path(d="M16.031 14.617L20.314 18.899L18.899 20.314L14.617 16.031C13.0237 17.3082 11.042 18.0029 9 18C4.032 18 0 13.968 0 9C0 4.032 4.032 0 9 0C13.968 0 18 4.032 18 9C18.0029 11.042 17.3082 13.0237 16.031 14.617ZM14.025 13.875C15.2941 12.5699 16.0029 10.8204 16 9C16 5.132 12.867 2 9 2C5.132 2 2 5.132 2 9C2 12.867 5.132 16 9 16C10.8204 16.0029 12.5699 15.2941 13.875 14.025L14.025 13.875ZM8 8V5H10V8H13V10H10V13H8V10H5V8H8Z" fill="white")
                                
                            img(src="img/screen1.jpg", alt="")
                        .screen-main-content-blok-item-time
                            span 10:00
                            svg(xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none")
                                path(d="M10.3335 3.00016H13.6668V4.3335H12.3335V13.0002C12.3335 13.177 12.2633 13.3465 12.1382 13.4716C12.0132 13.5966 11.8436 13.6668 11.6668 13.6668H2.3335C2.15669 13.6668 1.98712 13.5966 1.86209 13.4716C1.73707 13.3465 1.66683 13.177 1.66683 13.0002V4.3335H0.333496V3.00016H3.66683V1.00016C3.66683 0.823352 3.73707 0.653782 3.86209 0.528758C3.98712 0.403734 4.15669 0.333496 4.3335 0.333496H9.66683C9.84364 0.333496 10.0132 0.403734 10.1382 0.528758C10.2633 0.653782 10.3335 0.823352 10.3335 1.00016V3.00016ZM11.0002 4.3335H3.00016V12.3335H11.0002V4.3335ZM5.00016 6.3335H6.3335V10.3335H5.00016V6.3335ZM7.66683 6.3335H9.00016V10.3335H7.66683V6.3335ZM5.00016 1.66683V3.00016H9.00016V1.66683H5.00016Z" fill="#9D9E9F")
                    .screen-main-content-blok-item-screen
                        a(href="img/screen2_4x.jpg" data-fancybox="images")
                            .overlay
                                svg(xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none")
                                    path(d="M16.031 14.617L20.314 18.899L18.899 20.314L14.617 16.031C13.0237 17.3082 11.042 18.0029 9 18C4.032 18 0 13.968 0 9C0 4.032 4.032 0 9 0C13.968 0 18 4.032 18 9C18.0029 11.042 17.3082 13.0237 16.031 14.617ZM14.025 13.875C15.2941 12.5699 16.0029 10.8204 16 9C16 5.132 12.867 2 9 2C5.132 2 2 5.132 2 9C2 12.867 5.132 16 9 16C10.8204 16.0029 12.5699 15.2941 13.875 14.025L14.025 13.875ZM8 8V5H10V8H13V10H10V13H8V10H5V8H8Z" fill="white")
                                
                            img(src="img/screen2.jpg", alt="")
                        .screen-main-content-blok-item-time
                            span 10:20
                            svg(xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none")
                                path(d="M10.3335 3.00016H13.6668V4.3335H12.3335V13.0002C12.3335 13.177 12.2633 13.3465 12.1382 13.4716C12.0132 13.5966 11.8436 13.6668 11.6668 13.6668H2.3335C2.15669 13.6668 1.98712 13.5966 1.86209 13.4716C1.73707 13.3465 1.66683 13.177 1.66683 13.0002V4.3335H0.333496V3.00016H3.66683V1.00016C3.66683 0.823352 3.73707 0.653782 3.86209 0.528758C3.98712 0.403734 4.15669 0.333496 4.3335 0.333496H9.66683C9.84364 0.333496 10.0132 0.403734 10.1382 0.528758C10.2633 0.653782 10.3335 0.823352 10.3335 1.00016V3.00016ZM11.0002 4.3335H3.00016V12.3335H11.0002V4.3335ZM5.00016 6.3335H6.3335V10.3335H5.00016V6.3335ZM7.66683 6.3335H9.00016V10.3335H7.66683V6.3335ZM5.00016 1.66683V3.00016H9.00016V1.66683H5.00016Z" fill="#9D9E9F")
                    .screen-main-content-blok-item-screen
                        a(href="img/screen4_4x.jpg" data-fancybox="images")
                            .overlay
                                svg(xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none")
                                    path(d="M16.031 14.617L20.314 18.899L18.899 20.314L14.617 16.031C13.0237 17.3082 11.042 18.0029 9 18C4.032 18 0 13.968 0 9C0 4.032 4.032 0 9 0C13.968 0 18 4.032 18 9C18.0029 11.042 17.3082 13.0237 16.031 14.617ZM14.025 13.875C15.2941 12.5699 16.0029 10.8204 16 9C16 5.132 12.867 2 9 2C5.132 2 2 5.132 2 9C2 12.867 5.132 16 9 16C10.8204 16.0029 12.5699 15.2941 13.875 14.025L14.025 13.875ZM8 8V5H10V8H13V10H10V13H8V10H5V8H8Z" fill="white")
                                
                            img(src="img/screen4.jpg", alt="")
                        .screen-main-content-blok-item-time
                            span 10:20
                            svg(xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none")
                                path(d="M10.3335 3.00016H13.6668V4.3335H12.3335V13.0002C12.3335 13.177 12.2633 13.3465 12.1382 13.4716C12.0132 13.5966 11.8436 13.6668 11.6668 13.6668H2.3335C2.15669 13.6668 1.98712 13.5966 1.86209 13.4716C1.73707 13.3465 1.66683 13.177 1.66683 13.0002V4.3335H0.333496V3.00016H3.66683V1.00016C3.66683 0.823352 3.73707 0.653782 3.86209 0.528758C3.98712 0.403734 4.15669 0.333496 4.3335 0.333496H9.66683C9.84364 0.333496 10.0132 0.403734 10.1382 0.528758C10.2633 0.653782 10.3335 0.823352 10.3335 1.00016V3.00016ZM11.0002 4.3335H3.00016V12.3335H11.0002V4.3335ZM5.00016 6.3335H6.3335V10.3335H5.00016V6.3335ZM7.66683 6.3335H9.00016V10.3335H7.66683V6.3335ZM5.00016 1.66683V3.00016H9.00016V1.66683H5.00016Z" fill="#9D9E9F")
                    .screen-main-content-blok-item-screen
                        a(href="img/screen1_4x.jpg" data-fancybox="images")
                            .overlay
                                svg(xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none")
                                    path(d="M16.031 14.617L20.314 18.899L18.899 20.314L14.617 16.031C13.0237 17.3082 11.042 18.0029 9 18C4.032 18 0 13.968 0 9C0 4.032 4.032 0 9 0C13.968 0 18 4.032 18 9C18.0029 11.042 17.3082 13.0237 16.031 14.617ZM14.025 13.875C15.2941 12.5699 16.0029 10.8204 16 9C16 5.132 12.867 2 9 2C5.132 2 2 5.132 2 9C2 12.867 5.132 16 9 16C10.8204 16.0029 12.5699 15.2941 13.875 14.025L14.025 13.875ZM8 8V5H10V8H13V10H10V13H8V10H5V8H8Z" fill="white")
                                
                            img(src="img/screen1.jpg", alt="")
                        .screen-main-content-blok-item-time
                            span 10:30
                            svg(xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none")
                                path(d="M10.3335 3.00016H13.6668V4.3335H12.3335V13.0002C12.3335 13.177 12.2633 13.3465 12.1382 13.4716C12.0132 13.5966 11.8436 13.6668 11.6668 13.6668H2.3335C2.15669 13.6668 1.98712 13.5966 1.86209 13.4716C1.73707 13.3465 1.66683 13.177 1.66683 13.0002V4.3335H0.333496V3.00016H3.66683V1.00016C3.66683 0.823352 3.73707 0.653782 3.86209 0.528758C3.98712 0.403734 4.15669 0.333496 4.3335 0.333496H9.66683C9.84364 0.333496 10.0132 0.403734 10.1382 0.528758C10.2633 0.653782 10.3335 0.823352 10.3335 1.00016V3.00016ZM11.0002 4.3335H3.00016V12.3335H11.0002V4.3335ZM5.00016 6.3335H6.3335V10.3335H5.00016V6.3335ZM7.66683 6.3335H9.00016V10.3335H7.66683V6.3335ZM5.00016 1.66683V3.00016H9.00016V1.66683H5.00016Z" fill="#9D9E9F")
                    .screen-main-content-blok-item-screen
                        a(href="img/screen5_4x.png" data-fancybox="images")
                            .overlay
                                svg(xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none")
                                    path(d="M16.031 14.617L20.314 18.899L18.899 20.314L14.617 16.031C13.0237 17.3082 11.042 18.0029 9 18C4.032 18 0 13.968 0 9C0 4.032 4.032 0 9 0C13.968 0 18 4.032 18 9C18.0029 11.042 17.3082 13.0237 16.031 14.617ZM14.025 13.875C15.2941 12.5699 16.0029 10.8204 16 9C16 5.132 12.867 2 9 2C5.132 2 2 5.132 2 9C2 12.867 5.132 16 9 16C10.8204 16.0029 12.5699 15.2941 13.875 14.025L14.025 13.875ZM8 8V5H10V8H13V10H10V13H8V10H5V8H8Z" fill="white")
                                
                            img(src="img/screen5.jpg", alt="")
                        .screen-main-content-blok-item-time
                            span 10:40
                            svg(xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none")
                                path(d="M10.3335 3.00016H13.6668V4.3335H12.3335V13.0002C12.3335 13.177 12.2633 13.3465 12.1382 13.4716C12.0132 13.5966 11.8436 13.6668 11.6668 13.6668H2.3335C2.15669 13.6668 1.98712 13.5966 1.86209 13.4716C1.73707 13.3465 1.66683 13.177 1.66683 13.0002V4.3335H0.333496V3.00016H3.66683V1.00016C3.66683 0.823352 3.73707 0.653782 3.86209 0.528758C3.98712 0.403734 4.15669 0.333496 4.3335 0.333496H9.66683C9.84364 0.333496 10.0132 0.403734 10.1382 0.528758C10.2633 0.653782 10.3335 0.823352 10.3335 1.00016V3.00016ZM11.0002 4.3335H3.00016V12.3335H11.0002V4.3335ZM5.00016 6.3335H6.3335V10.3335H5.00016V6.3335ZM7.66683 6.3335H9.00016V10.3335H7.66683V6.3335ZM5.00016 1.66683V3.00016H9.00016V1.66683H5.00016Z" fill="#9D9E9F")
                    .screen-main-content-blok-item-screen
                        a(href="img/screen6_4x.jpg" data-fancybox="images")
                            .overlay
                                svg(xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none")
                                    path(d="M16.031 14.617L20.314 18.899L18.899 20.314L14.617 16.031C13.0237 17.3082 11.042 18.0029 9 18C4.032 18 0 13.968 0 9C0 4.032 4.032 0 9 0C13.968 0 18 4.032 18 9C18.0029 11.042 17.3082 13.0237 16.031 14.617ZM14.025 13.875C15.2941 12.5699 16.0029 10.8204 16 9C16 5.132 12.867 2 9 2C5.132 2 2 5.132 2 9C2 12.867 5.132 16 9 16C10.8204 16.0029 12.5699 15.2941 13.875 14.025L14.025 13.875ZM8 8V5H10V8H13V10H10V13H8V10H5V8H8Z" fill="white")
                                
                            img(src="img/screen6.jpg", alt="")
                        .screen-main-content-blok-item-time
                            span 10:50
                            svg(xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none")
                                path(d="M10.3335 3.00016H13.6668V4.3335H12.3335V13.0002C12.3335 13.177 12.2633 13.3465 12.1382 13.4716C12.0132 13.5966 11.8436 13.6668 11.6668 13.6668H2.3335C2.15669 13.6668 1.98712 13.5966 1.86209 13.4716C1.73707 13.3465 1.66683 13.177 1.66683 13.0002V4.3335H0.333496V3.00016H3.66683V1.00016C3.66683 0.823352 3.73707 0.653782 3.86209 0.528758C3.98712 0.403734 4.15669 0.333496 4.3335 0.333496H9.66683C9.84364 0.333496 10.0132 0.403734 10.1382 0.528758C10.2633 0.653782 10.3335 0.823352 10.3335 1.00016V3.00016ZM11.0002 4.3335H3.00016V12.3335H11.0002V4.3335ZM5.00016 6.3335H6.3335V10.3335H5.00016V6.3335ZM7.66683 6.3335H9.00016V10.3335H7.66683V6.3335ZM5.00016 1.66683V3.00016H9.00016V1.66683H5.00016Z" fill="#9D9E9F")
            .screen-main-content-blok
                .num 11
                .screen-main-content-blok-item
                    .screen-main-content-blok-item-screen
                        a(href="img/screen1_4x.jpg" data-fancybox="images")
                            .overlay
                                svg(xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none")
                                    path(d="M16.031 14.617L20.314 18.899L18.899 20.314L14.617 16.031C13.0237 17.3082 11.042 18.0029 9 18C4.032 18 0 13.968 0 9C0 4.032 4.032 0 9 0C13.968 0 18 4.032 18 9C18.0029 11.042 17.3082 13.0237 16.031 14.617ZM14.025 13.875C15.2941 12.5699 16.0029 10.8204 16 9C16 5.132 12.867 2 9 2C5.132 2 2 5.132 2 9C2 12.867 5.132 16 9 16C10.8204 16.0029 12.5699 15.2941 13.875 14.025L14.025 13.875ZM8 8V5H10V8H13V10H10V13H8V10H5V8H8Z" fill="white")
                                
                            img(src="img/screen1.jpg", alt="")
                        .screen-main-content-blok-item-time
                            span 11:00
                            svg(xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none")
                                path(d="M10.3335 3.00016H13.6668V4.3335H12.3335V13.0002C12.3335 13.177 12.2633 13.3465 12.1382 13.4716C12.0132 13.5966 11.8436 13.6668 11.6668 13.6668H2.3335C2.15669 13.6668 1.98712 13.5966 1.86209 13.4716C1.73707 13.3465 1.66683 13.177 1.66683 13.0002V4.3335H0.333496V3.00016H3.66683V1.00016C3.66683 0.823352 3.73707 0.653782 3.86209 0.528758C3.98712 0.403734 4.15669 0.333496 4.3335 0.333496H9.66683C9.84364 0.333496 10.0132 0.403734 10.1382 0.528758C10.2633 0.653782 10.3335 0.823352 10.3335 1.00016V3.00016ZM11.0002 4.3335H3.00016V12.3335H11.0002V4.3335ZM5.00016 6.3335H6.3335V10.3335H5.00016V6.3335ZM7.66683 6.3335H9.00016V10.3335H7.66683V6.3335ZM5.00016 1.66683V3.00016H9.00016V1.66683H5.00016Z" fill="#9D9E9F")
                    .screen-main-content-blok-item-screen
                        a(href="img/screen6_4x.jpg" data-fancybox="images")
                            .overlay
                                svg(xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none")
                                    path(d="M16.031 14.617L20.314 18.899L18.899 20.314L14.617 16.031C13.0237 17.3082 11.042 18.0029 9 18C4.032 18 0 13.968 0 9C0 4.032 4.032 0 9 0C13.968 0 18 4.032 18 9C18.0029 11.042 17.3082 13.0237 16.031 14.617ZM14.025 13.875C15.2941 12.5699 16.0029 10.8204 16 9C16 5.132 12.867 2 9 2C5.132 2 2 5.132 2 9C2 12.867 5.132 16 9 16C10.8204 16.0029 12.5699 15.2941 13.875 14.025L14.025 13.875ZM8 8V5H10V8H13V10H10V13H8V10H5V8H8Z" fill="white")
                                
                            img(src="img/screen6.jpg", alt="")
                        .screen-main-content-blok-item-time
                            span 11:20
                            svg(xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none")
                                path(d="M10.3335 3.00016H13.6668V4.3335H12.3335V13.0002C12.3335 13.177 12.2633 13.3465 12.1382 13.4716C12.0132 13.5966 11.8436 13.6668 11.6668 13.6668H2.3335C2.15669 13.6668 1.98712 13.5966 1.86209 13.4716C1.73707 13.3465 1.66683 13.177 1.66683 13.0002V4.3335H0.333496V3.00016H3.66683V1.00016C3.66683 0.823352 3.73707 0.653782 3.86209 0.528758C3.98712 0.403734 4.15669 0.333496 4.3335 0.333496H9.66683C9.84364 0.333496 10.0132 0.403734 10.1382 0.528758C10.2633 0.653782 10.3335 0.823352 10.3335 1.00016V3.00016ZM11.0002 4.3335H3.00016V12.3335H11.0002V4.3335ZM5.00016 6.3335H6.3335V10.3335H5.00016V6.3335ZM7.66683 6.3335H9.00016V10.3335H7.66683V6.3335ZM5.00016 1.66683V3.00016H9.00016V1.66683H5.00016Z" fill="#9D9E9F")
                    .screen-main-content-blok-item-screen
                        a(href="img/screen4_4x.jpg" data-fancybox="images")
                            .overlay
                                svg(xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none")
                                    path(d="M16.031 14.617L20.314 18.899L18.899 20.314L14.617 16.031C13.0237 17.3082 11.042 18.0029 9 18C4.032 18 0 13.968 0 9C0 4.032 4.032 0 9 0C13.968 0 18 4.032 18 9C18.0029 11.042 17.3082 13.0237 16.031 14.617ZM14.025 13.875C15.2941 12.5699 16.0029 10.8204 16 9C16 5.132 12.867 2 9 2C5.132 2 2 5.132 2 9C2 12.867 5.132 16 9 16C10.8204 16.0029 12.5699 15.2941 13.875 14.025L14.025 13.875ZM8 8V5H10V8H13V10H10V13H8V10H5V8H8Z" fill="white")
                                
                            img(src="img/screen4.jpg", alt="")
                        .screen-main-content-blok-item-time
                            span 11:40
                            svg(xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none")
                                path(d="M10.3335 3.00016H13.6668V4.3335H12.3335V13.0002C12.3335 13.177 12.2633 13.3465 12.1382 13.4716C12.0132 13.5966 11.8436 13.6668 11.6668 13.6668H2.3335C2.15669 13.6668 1.98712 13.5966 1.86209 13.4716C1.73707 13.3465 1.66683 13.177 1.66683 13.0002V4.3335H0.333496V3.00016H3.66683V1.00016C3.66683 0.823352 3.73707 0.653782 3.86209 0.528758C3.98712 0.403734 4.15669 0.333496 4.3335 0.333496H9.66683C9.84364 0.333496 10.0132 0.403734 10.1382 0.528758C10.2633 0.653782 10.3335 0.823352 10.3335 1.00016V3.00016ZM11.0002 4.3335H3.00016V12.3335H11.0002V4.3335ZM5.00016 6.3335H6.3335V10.3335H5.00016V6.3335ZM7.66683 6.3335H9.00016V10.3335H7.66683V6.3335ZM5.00016 1.66683V3.00016H9.00016V1.66683H5.00016Z" fill="#9D9E9F")
                    .screen-main-content-blok-item-screen
                        a(href="img/screen1_4x.jpg" data-fancybox="images")
                            .overlay
                                svg(xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none")
                                    path(d="M16.031 14.617L20.314 18.899L18.899 20.314L14.617 16.031C13.0237 17.3082 11.042 18.0029 9 18C4.032 18 0 13.968 0 9C0 4.032 4.032 0 9 0C13.968 0 18 4.032 18 9C18.0029 11.042 17.3082 13.0237 16.031 14.617ZM14.025 13.875C15.2941 12.5699 16.0029 10.8204 16 9C16 5.132 12.867 2 9 2C5.132 2 2 5.132 2 9C2 12.867 5.132 16 9 16C10.8204 16.0029 12.5699 15.2941 13.875 14.025L14.025 13.875ZM8 8V5H10V8H13V10H10V13H8V10H5V8H8Z" fill="white")
                                
                            img(src="img/screen1.jpg", alt="")
                        .screen-main-content-blok-item-time
                            span 11:50
                            svg(xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none")
                                path(d="M10.3335 3.00016H13.6668V4.3335H12.3335V13.0002C12.3335 13.177 12.2633 13.3465 12.1382 13.4716C12.0132 13.5966 11.8436 13.6668 11.6668 13.6668H2.3335C2.15669 13.6668 1.98712 13.5966 1.86209 13.4716C1.73707 13.3465 1.66683 13.177 1.66683 13.0002V4.3335H0.333496V3.00016H3.66683V1.00016C3.66683 0.823352 3.73707 0.653782 3.86209 0.528758C3.98712 0.403734 4.15669 0.333496 4.3335 0.333496H9.66683C9.84364 0.333496 10.0132 0.403734 10.1382 0.528758C10.2633 0.653782 10.3335 0.823352 10.3335 1.00016V3.00016ZM11.0002 4.3335H3.00016V12.3335H11.0002V4.3335ZM5.00016 6.3335H6.3335V10.3335H5.00016V6.3335ZM7.66683 6.3335H9.00016V10.3335H7.66683V6.3335ZM5.00016 1.66683V3.00016H9.00016V1.66683H5.00016Z" fill="#9D9E9F")
                    .screen-main-content-blok-item-screen
                        a(href="img/screen6_4x.jpg" data-fancybox="images")
                            .overlay
                                svg(xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none")
                                    path(d="M16.031 14.617L20.314 18.899L18.899 20.314L14.617 16.031C13.0237 17.3082 11.042 18.0029 9 18C4.032 18 0 13.968 0 9C0 4.032 4.032 0 9 0C13.968 0 18 4.032 18 9C18.0029 11.042 17.3082 13.0237 16.031 14.617ZM14.025 13.875C15.2941 12.5699 16.0029 10.8204 16 9C16 5.132 12.867 2 9 2C5.132 2 2 5.132 2 9C2 12.867 5.132 16 9 16C10.8204 16.0029 12.5699 15.2941 13.875 14.025L14.025 13.875ZM8 8V5H10V8H13V10H10V13H8V10H5V8H8Z" fill="white")
                                
                            img(src="img/screen6.jpg", alt="")
                        .screen-main-content-blok-item-time
                            span 10:00
                            svg(xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none")
                                path(d="M10.3335 3.00016H13.6668V4.3335H12.3335V13.0002C12.3335 13.177 12.2633 13.3465 12.1382 13.4716C12.0132 13.5966 11.8436 13.6668 11.6668 13.6668H2.3335C2.15669 13.6668 1.98712 13.5966 1.86209 13.4716C1.73707 13.3465 1.66683 13.177 1.66683 13.0002V4.3335H0.333496V3.00016H3.66683V1.00016C3.66683 0.823352 3.73707 0.653782 3.86209 0.528758C3.98712 0.403734 4.15669 0.333496 4.3335 0.333496H9.66683C9.84364 0.333496 10.0132 0.403734 10.1382 0.528758C10.2633 0.653782 10.3335 0.823352 10.3335 1.00016V3.00016ZM11.0002 4.3335H3.00016V12.3335H11.0002V4.3335ZM5.00016 6.3335H6.3335V10.3335H5.00016V6.3335ZM7.66683 6.3335H9.00016V10.3335H7.66683V6.3335ZM5.00016 1.66683V3.00016H9.00016V1.66683H5.00016Z" fill="#9D9E9F")
                    .screen-main-content-blok-item-screen
                        a(href="img/screen2_4x.jpg" data-fancybox="images")
                            .overlay
                                svg(xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none")
                                    path(d="M16.031 14.617L20.314 18.899L18.899 20.314L14.617 16.031C13.0237 17.3082 11.042 18.0029 9 18C4.032 18 0 13.968 0 9C0 4.032 4.032 0 9 0C13.968 0 18 4.032 18 9C18.0029 11.042 17.3082 13.0237 16.031 14.617ZM14.025 13.875C15.2941 12.5699 16.0029 10.8204 16 9C16 5.132 12.867 2 9 2C5.132 2 2 5.132 2 9C2 12.867 5.132 16 9 16C10.8204 16.0029 12.5699 15.2941 13.875 14.025L14.025 13.875ZM8 8V5H10V8H13V10H10V13H8V10H5V8H8Z" fill="white")
                                
                            img(src="img/screen2.jpg", alt="")
                        .screen-main-content-blok-item-time
                            span 10:00
                            svg(xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none")
                                path(d="M10.3335 3.00016H13.6668V4.3335H12.3335V13.0002C12.3335 13.177 12.2633 13.3465 12.1382 13.4716C12.0132 13.5966 11.8436 13.6668 11.6668 13.6668H2.3335C2.15669 13.6668 1.98712 13.5966 1.86209 13.4716C1.73707 13.3465 1.66683 13.177 1.66683 13.0002V4.3335H0.333496V3.00016H3.66683V1.00016C3.66683 0.823352 3.73707 0.653782 3.86209 0.528758C3.98712 0.403734 4.15669 0.333496 4.3335 0.333496H9.66683C9.84364 0.333496 10.0132 0.403734 10.1382 0.528758C10.2633 0.653782 10.3335 0.823352 10.3335 1.00016V3.00016ZM11.0002 4.3335H3.00016V12.3335H11.0002V4.3335ZM5.00016 6.3335H6.3335V10.3335H5.00016V6.3335ZM7.66683 6.3335H9.00016V10.3335H7.66683V6.3335ZM5.00016 1.66683V3.00016H9.00016V1.66683H5.00016Z" fill="#9D9E9F")
            .screen-main-content-blok
                .num 12
                .screen-main-content-blok-item
                    .screen-main-content-blok-item-screen
                        a(href="img/screen1_4x.jpg" data-fancybox="images")
                            .overlay
                                svg(xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none")
                                    path(d="M16.031 14.617L20.314 18.899L18.899 20.314L14.617 16.031C13.0237 17.3082 11.042 18.0029 9 18C4.032 18 0 13.968 0 9C0 4.032 4.032 0 9 0C13.968 0 18 4.032 18 9C18.0029 11.042 17.3082 13.0237 16.031 14.617ZM14.025 13.875C15.2941 12.5699 16.0029 10.8204 16 9C16 5.132 12.867 2 9 2C5.132 2 2 5.132 2 9C2 12.867 5.132 16 9 16C10.8204 16.0029 12.5699 15.2941 13.875 14.025L14.025 13.875ZM8 8V5H10V8H13V10H10V13H8V10H5V8H8Z" fill="white")
                                
                            img(src="img/screen1.jpg", alt="")
                        .screen-main-content-blok-item-time
                            span 10:00
                            svg(xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none")
                                path(d="M10.3335 3.00016H13.6668V4.3335H12.3335V13.0002C12.3335 13.177 12.2633 13.3465 12.1382 13.4716C12.0132 13.5966 11.8436 13.6668 11.6668 13.6668H2.3335C2.15669 13.6668 1.98712 13.5966 1.86209 13.4716C1.73707 13.3465 1.66683 13.177 1.66683 13.0002V4.3335H0.333496V3.00016H3.66683V1.00016C3.66683 0.823352 3.73707 0.653782 3.86209 0.528758C3.98712 0.403734 4.15669 0.333496 4.3335 0.333496H9.66683C9.84364 0.333496 10.0132 0.403734 10.1382 0.528758C10.2633 0.653782 10.3335 0.823352 10.3335 1.00016V3.00016ZM11.0002 4.3335H3.00016V12.3335H11.0002V4.3335ZM5.00016 6.3335H6.3335V10.3335H5.00016V6.3335ZM7.66683 6.3335H9.00016V10.3335H7.66683V6.3335ZM5.00016 1.66683V3.00016H9.00016V1.66683H5.00016Z" fill="#9D9E9F")
                    .screen-main-content-blok-item-screen
                        a(href="img/screen6_4x.jpg" data-fancybox="images")
                            .overlay
                                svg(xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none")
                                    path(d="M16.031 14.617L20.314 18.899L18.899 20.314L14.617 16.031C13.0237 17.3082 11.042 18.0029 9 18C4.032 18 0 13.968 0 9C0 4.032 4.032 0 9 0C13.968 0 18 4.032 18 9C18.0029 11.042 17.3082 13.0237 16.031 14.617ZM14.025 13.875C15.2941 12.5699 16.0029 10.8204 16 9C16 5.132 12.867 2 9 2C5.132 2 2 5.132 2 9C2 12.867 5.132 16 9 16C10.8204 16.0029 12.5699 15.2941 13.875 14.025L14.025 13.875ZM8 8V5H10V8H13V10H10V13H8V10H5V8H8Z" fill="white")
                                
                            img(src="img/screen6.jpg", alt="")
                        .screen-main-content-blok-item-time
                            span 10:00
                            svg(xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none")
                                path(d="M10.3335 3.00016H13.6668V4.3335H12.3335V13.0002C12.3335 13.177 12.2633 13.3465 12.1382 13.4716C12.0132 13.5966 11.8436 13.6668 11.6668 13.6668H2.3335C2.15669 13.6668 1.98712 13.5966 1.86209 13.4716C1.73707 13.3465 1.66683 13.177 1.66683 13.0002V4.3335H0.333496V3.00016H3.66683V1.00016C3.66683 0.823352 3.73707 0.653782 3.86209 0.528758C3.98712 0.403734 4.15669 0.333496 4.3335 0.333496H9.66683C9.84364 0.333496 10.0132 0.403734 10.1382 0.528758C10.2633 0.653782 10.3335 0.823352 10.3335 1.00016V3.00016ZM11.0002 4.3335H3.00016V12.3335H11.0002V4.3335ZM5.00016 6.3335H6.3335V10.3335H5.00016V6.3335ZM7.66683 6.3335H9.00016V10.3335H7.66683V6.3335ZM5.00016 1.66683V3.00016H9.00016V1.66683H5.00016Z" fill="#9D9E9F")
                    .screen-main-content-blok-item-screen
                        a(href="img/screen1_4x.jpg" data-fancybox="images")
                            .overlay
                                svg(xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none")
                                    path(d="M16.031 14.617L20.314 18.899L18.899 20.314L14.617 16.031C13.0237 17.3082 11.042 18.0029 9 18C4.032 18 0 13.968 0 9C0 4.032 4.032 0 9 0C13.968 0 18 4.032 18 9C18.0029 11.042 17.3082 13.0237 16.031 14.617ZM14.025 13.875C15.2941 12.5699 16.0029 10.8204 16 9C16 5.132 12.867 2 9 2C5.132 2 2 5.132 2 9C2 12.867 5.132 16 9 16C10.8204 16.0029 12.5699 15.2941 13.875 14.025L14.025 13.875ZM8 8V5H10V8H13V10H10V13H8V10H5V8H8Z" fill="white")
                                
                            img(src="img/screen1.jpg", alt="")
                        .screen-main-content-blok-item-time
                            span 10:00
                            svg(xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none")
                                path(d="M10.3335 3.00016H13.6668V4.3335H12.3335V13.0002C12.3335 13.177 12.2633 13.3465 12.1382 13.4716C12.0132 13.5966 11.8436 13.6668 11.6668 13.6668H2.3335C2.15669 13.6668 1.98712 13.5966 1.86209 13.4716C1.73707 13.3465 1.66683 13.177 1.66683 13.0002V4.3335H0.333496V3.00016H3.66683V1.00016C3.66683 0.823352 3.73707 0.653782 3.86209 0.528758C3.98712 0.403734 4.15669 0.333496 4.3335 0.333496H9.66683C9.84364 0.333496 10.0132 0.403734 10.1382 0.528758C10.2633 0.653782 10.3335 0.823352 10.3335 1.00016V3.00016ZM11.0002 4.3335H3.00016V12.3335H11.0002V4.3335ZM5.00016 6.3335H6.3335V10.3335H5.00016V6.3335ZM7.66683 6.3335H9.00016V10.3335H7.66683V6.3335ZM5.00016 1.66683V3.00016H9.00016V1.66683H5.00016Z" fill="#9D9E9F")
                    .screen-main-content-blok-item-screen
                        a(href="img/screen2_4x.jpg" data-fancybox="images")
                            .overlay
                                svg(xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none")
                                    path(d="M16.031 14.617L20.314 18.899L18.899 20.314L14.617 16.031C13.0237 17.3082 11.042 18.0029 9 18C4.032 18 0 13.968 0 9C0 4.032 4.032 0 9 0C13.968 0 18 4.032 18 9C18.0029 11.042 17.3082 13.0237 16.031 14.617ZM14.025 13.875C15.2941 12.5699 16.0029 10.8204 16 9C16 5.132 12.867 2 9 2C5.132 2 2 5.132 2 9C2 12.867 5.132 16 9 16C10.8204 16.0029 12.5699 15.2941 13.875 14.025L14.025 13.875ZM8 8V5H10V8H13V10H10V13H8V10H5V8H8Z" fill="white")
                                
                            img(src="img/screen2.jpg", alt="")
                        .screen-main-content-blok-item-time
                            span 10:00
                            svg(xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none")
                                path(d="M10.3335 3.00016H13.6668V4.3335H12.3335V13.0002C12.3335 13.177 12.2633 13.3465 12.1382 13.4716C12.0132 13.5966 11.8436 13.6668 11.6668 13.6668H2.3335C2.15669 13.6668 1.98712 13.5966 1.86209 13.4716C1.73707 13.3465 1.66683 13.177 1.66683 13.0002V4.3335H0.333496V3.00016H3.66683V1.00016C3.66683 0.823352 3.73707 0.653782 3.86209 0.528758C3.98712 0.403734 4.15669 0.333496 4.3335 0.333496H9.66683C9.84364 0.333496 10.0132 0.403734 10.1382 0.528758C10.2633 0.653782 10.3335 0.823352 10.3335 1.00016V3.00016ZM11.0002 4.3335H3.00016V12.3335H11.0002V4.3335ZM5.00016 6.3335H6.3335V10.3335H5.00016V6.3335ZM7.66683 6.3335H9.00016V10.3335H7.66683V6.3335ZM5.00016 1.66683V3.00016H9.00016V1.66683H5.00016Z" fill="#9D9E9F")
                    .screen-main-content-blok-item-screen
                        a(href="img/screen4_4x.jpg" data-fancybox="images")
                            .overlay
                                svg(xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none")
                                    path(d="M16.031 14.617L20.314 18.899L18.899 20.314L14.617 16.031C13.0237 17.3082 11.042 18.0029 9 18C4.032 18 0 13.968 0 9C0 4.032 4.032 0 9 0C13.968 0 18 4.032 18 9C18.0029 11.042 17.3082 13.0237 16.031 14.617ZM14.025 13.875C15.2941 12.5699 16.0029 10.8204 16 9C16 5.132 12.867 2 9 2C5.132 2 2 5.132 2 9C2 12.867 5.132 16 9 16C10.8204 16.0029 12.5699 15.2941 13.875 14.025L14.025 13.875ZM8 8V5H10V8H13V10H10V13H8V10H5V8H8Z" fill="white")
                                
                            img(src="img/screen4.jpg", alt="")
                        .screen-main-content-blok-item-time
                            span 10:00
                            svg(xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none")
                                path(d="M10.3335 3.00016H13.6668V4.3335H12.3335V13.0002C12.3335 13.177 12.2633 13.3465 12.1382 13.4716C12.0132 13.5966 11.8436 13.6668 11.6668 13.6668H2.3335C2.15669 13.6668 1.98712 13.5966 1.86209 13.4716C1.73707 13.3465 1.66683 13.177 1.66683 13.0002V4.3335H0.333496V3.00016H3.66683V1.00016C3.66683 0.823352 3.73707 0.653782 3.86209 0.528758C3.98712 0.403734 4.15669 0.333496 4.3335 0.333496H9.66683C9.84364 0.333496 10.0132 0.403734 10.1382 0.528758C10.2633 0.653782 10.3335 0.823352 10.3335 1.00016V3.00016ZM11.0002 4.3335H3.00016V12.3335H11.0002V4.3335ZM5.00016 6.3335H6.3335V10.3335H5.00016V6.3335ZM7.66683 6.3335H9.00016V10.3335H7.66683V6.3335ZM5.00016 1.66683V3.00016H9.00016V1.66683H5.00016Z" fill="#9D9E9F")
                    .screen-main-content-blok-item-screen
                        a(href="img/screen6_4x.jpg" data-fancybox="images")
                            .overlay
                                svg(xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none")
                                    path(d="M16.031 14.617L20.314 18.899L18.899 20.314L14.617 16.031C13.0237 17.3082 11.042 18.0029 9 18C4.032 18 0 13.968 0 9C0 4.032 4.032 0 9 0C13.968 0 18 4.032 18 9C18.0029 11.042 17.3082 13.0237 16.031 14.617ZM14.025 13.875C15.2941 12.5699 16.0029 10.8204 16 9C16 5.132 12.867 2 9 2C5.132 2 2 5.132 2 9C2 12.867 5.132 16 9 16C10.8204 16.0029 12.5699 15.2941 13.875 14.025L14.025 13.875ZM8 8V5H10V8H13V10H10V13H8V10H5V8H8Z" fill="white")
                                
                            img(src="img/screen6.jpg", alt="")
                        .screen-main-content-blok-item-time
                            span 10:00
                            svg(xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none")
                                path(d="M10.3335 3.00016H13.6668V4.3335H12.3335V13.0002C12.3335 13.177 12.2633 13.3465 12.1382 13.4716C12.0132 13.5966 11.8436 13.6668 11.6668 13.6668H2.3335C2.15669 13.6668 1.98712 13.5966 1.86209 13.4716C1.73707 13.3465 1.66683 13.177 1.66683 13.0002V4.3335H0.333496V3.00016H3.66683V1.00016C3.66683 0.823352 3.73707 0.653782 3.86209 0.528758C3.98712 0.403734 4.15669 0.333496 4.3335 0.333496H9.66683C9.84364 0.333496 10.0132 0.403734 10.1382 0.528758C10.2633 0.653782 10.3335 0.823352 10.3335 1.00016V3.00016ZM11.0002 4.3335H3.00016V12.3335H11.0002V4.3335ZM5.00016 6.3335H6.3335V10.3335H5.00016V6.3335ZM7.66683 6.3335H9.00016V10.3335H7.66683V6.3335ZM5.00016 1.66683V3.00016H9.00016V1.66683H5.00016Z" fill="#9D9E9F")
                