extends ../layout/layout.pug

block variables
    - var title = 'ITHIRE';

block links
    - var link = 'side.css';

block scripts
    - var js = 'index.js';

block header
    include ../blocks/header.pug

block content
    .hire-main-blok
        .hire-main-side
            ul
                li
                    a(href="") 
                        svg(xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none")
                            path(d="M10.8333 17.5V9.16667H17.5V17.5H10.8333ZM2.5 10.8333V2.5H9.16667V10.8333H2.5ZM7.5 9.16667V4.16667H4.16667V9.16667H7.5ZM2.5 17.5V12.5H9.16667V17.5H2.5ZM4.16667 15.8333H7.5V14.1667H4.16667V15.8333ZM12.5 15.8333H15.8333V10.8333H12.5V15.8333ZM10.8333 2.5H17.5V7.5H10.8333V2.5ZM12.5 4.16667V5.83333H15.8333V4.16667H12.5Z" fill="#78797D")
                    
                        p Dashboard
                li
                    a(href="") 
                        svg(xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none")
                            path(d="M3.33335 4.16667V15.8333H16.6667V5.83333H9.65502L7.98835 4.16667H3.33335ZM10.345 4.16667H17.5C17.721 4.16667 17.933 4.25446 18.0893 4.41074C18.2456 4.56702 18.3334 4.77899 18.3334 5V16.6667C18.3334 16.8877 18.2456 17.0996 18.0893 17.2559C17.933 17.4122 17.721 17.5 17.5 17.5H2.50002C2.27901 17.5 2.06704 17.4122 1.91076 17.2559C1.75448 17.0996 1.66669 16.8877 1.66669 16.6667V3.33333C1.66669 3.11232 1.75448 2.90036 1.91076 2.74408C2.06704 2.5878 2.27901 2.5 2.50002 2.5H8.67835L10.345 4.16667Z" fill="#78797D")
                        p App Projects 
                            span (2108)
                li
                    a(href="").li-a
                        svg.orange(xmlns="http://www.w3.org/2000/svg" width="18" height="16" viewBox="0 0 18 16" fill="none")
                            path(d="M6.50002 8H4.83335V9.66667H6.50002V8Z" fill="#78797D")
                            path(d="M8.16669 8H9.83335V9.66667H8.16669V8Z" fill="#78797D")
                            path(d="M13.1667 8H11.5V9.66667H13.1667V8Z" fill="#78797D")
                            path(fill-rule="evenodd" clip-rule="evenodd" d="M9.34502 2.16667H16.5C16.721 2.16667 16.933 2.25446 17.0893 2.41074C17.2456 2.56702 17.3334 2.77899 17.3334 3V14.6667C17.3334 14.8877 17.2456 15.0996 17.0893 15.2559C16.933 15.4122 16.721 15.5 16.5 15.5H1.50002C1.27901 15.5 1.06705 15.4122 0.910765 15.2559C0.754484 15.0996 0.666687 14.8877 0.666687 14.6667V1.33333C0.666687 1.11232 0.754484 0.900358 0.910765 0.744078C1.06705 0.587797 1.27901 0.5 1.50002 0.5H7.67835L9.34502 2.16667ZM2.33335 2.16667V13.8333H15.6667V3.83333H8.65502L6.98835 2.16667H2.33335Z" fill="#78797D")
                        p My Projects 
                            span (192)
                        svg.arr(xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none")
                            path(d="M9.99999 9.02333L5.87499 13.1483L4.69666 11.97L9.99999 6.66667L15.3033 11.97L14.125 13.1483L9.99999 9.02333Z" fill="#9D9E9F")
                    ul.dropdown-ul
                        li
                            a(href="")
                                svg(xmlns="http://www.w3.org/2000/svg" width="18" height="16" viewBox="0 0 18 16" fill="none")
                                    path(d="M6.50002 8H4.83335V9.66667H6.50002V8Z" fill="#78797D")
                                    path(d="M8.16669 8H9.83335V9.66667H8.16669V8Z" fill="#78797D")
                                    path(d="M13.1667 8H11.5V9.66667H13.1667V8Z" fill="#78797D")
                                    path(fill-rule="evenodd" clip-rule="evenodd" d="M9.34502 2.16667H16.5C16.721 2.16667 16.933 2.25446 17.0893 2.41074C17.2456 2.56702 17.3334 2.77899 17.3334 3V14.6667C17.3334 14.8877 17.2456 15.0996 17.0893 15.2559C16.933 15.4122 16.721 15.5 16.5 15.5H1.50002C1.27901 15.5 1.06705 15.4122 0.910765 15.2559C0.754484 15.0996 0.666687 14.8877 0.666687 14.6667V1.33333C0.666687 1.11232 0.754484 0.900358 0.910765 0.744078C1.06705 0.587797 1.27901 0.5 1.50002 0.5H7.67835L9.34502 2.16667ZM2.33335 2.16667V13.8333H15.6667V3.83333H8.65502L6.98835 2.16667H2.33335Z" fill="#78797D")
                                p Active
                        li
                            a(href="")
                                svg(xmlns="http://www.w3.org/2000/svg" width="18" height="16" viewBox="0 0 18 16" fill="none")
                                    path(d="M6.50002 8H4.83335V9.66667H6.50002V8Z" fill="#78797D")
                                    path(d="M8.16669 8H9.83335V9.66667H8.16669V8Z" fill="#78797D")
                                    path(d="M13.1667 8H11.5V9.66667H13.1667V8Z" fill="#78797D")
                                    path(fill-rule="evenodd" clip-rule="evenodd" d="M9.34502 2.16667H16.5C16.721 2.16667 16.933 2.25446 17.0893 2.41074C17.2456 2.56702 17.3334 2.77899 17.3334 3V14.6667C17.3334 14.8877 17.2456 15.0996 17.0893 15.2559C16.933 15.4122 16.721 15.5 16.5 15.5H1.50002C1.27901 15.5 1.06705 15.4122 0.910765 15.2559C0.754484 15.0996 0.666687 14.8877 0.666687 14.6667V1.33333C0.666687 1.11232 0.754484 0.900358 0.910765 0.744078C1.06705 0.587797 1.27901 0.5 1.50002 0.5H7.67835L9.34502 2.16667ZM2.33335 2.16667V13.8333H15.6667V3.83333H8.65502L6.98835 2.16667H2.33335Z" fill="#78797D")
                                p Paused-Active
                        li
                            a(href="")
                                svg(xmlns="http://www.w3.org/2000/svg" width="18" height="16" viewBox="0 0 18 16" fill="none")
                                    path(d="M6.50002 8H4.83335V9.66667H6.50002V8Z" fill="#78797D")
                                    path(d="M8.16669 8H9.83335V9.66667H8.16669V8Z" fill="#78797D")
                                    path(d="M13.1667 8H11.5V9.66667H13.1667V8Z" fill="#78797D")
                                    path(fill-rule="evenodd" clip-rule="evenodd" d="M9.34502 2.16667H16.5C16.721 2.16667 16.933 2.25446 17.0893 2.41074C17.2456 2.56702 17.3334 2.77899 17.3334 3V14.6667C17.3334 14.8877 17.2456 15.0996 17.0893 15.2559C16.933 15.4122 16.721 15.5 16.5 15.5H1.50002C1.27901 15.5 1.06705 15.4122 0.910765 15.2559C0.754484 15.0996 0.666687 14.8877 0.666687 14.6667V1.33333C0.666687 1.11232 0.754484 0.900358 0.910765 0.744078C1.06705 0.587797 1.27901 0.5 1.50002 0.5H7.67835L9.34502 2.16667ZM2.33335 2.16667V13.8333H15.6667V3.83333H8.65502L6.98835 2.16667H2.33335Z" fill="#78797D")
                                p Pending
                        li
                            a(href="")
                                svg(xmlns="http://www.w3.org/2000/svg" width="18" height="16" viewBox="0 0 18 16" fill="none")
                                    path(d="M6.50002 8H4.83335V9.66667H6.50002V8Z" fill="#78797D")
                                    path(d="M8.16669 8H9.83335V9.66667H8.16669V8Z" fill="#78797D")
                                    path(d="M13.1667 8H11.5V9.66667H13.1667V8Z" fill="#78797D")
                                    path(fill-rule="evenodd" clip-rule="evenodd" d="M9.34502 2.16667H16.5C16.721 2.16667 16.933 2.25446 17.0893 2.41074C17.2456 2.56702 17.3334 2.77899 17.3334 3V14.6667C17.3334 14.8877 17.2456 15.0996 17.0893 15.2559C16.933 15.4122 16.721 15.5 16.5 15.5H1.50002C1.27901 15.5 1.06705 15.4122 0.910765 15.2559C0.754484 15.0996 0.666687 14.8877 0.666687 14.6667V1.33333C0.666687 1.11232 0.754484 0.900358 0.910765 0.744078C1.06705 0.587797 1.27901 0.5 1.50002 0.5H7.67835L9.34502 2.16667ZM2.33335 2.16667V13.8333H15.6667V3.83333H8.65502L6.98835 2.16667H2.33335Z" fill="#78797D")
                                p Waiting
                        li
                            a(href="")
                                svg(xmlns="http://www.w3.org/2000/svg" width="18" height="16" viewBox="0 0 18 16" fill="none")
                                    path(d="M6.50002 8H4.83335V9.66667H6.50002V8Z" fill="#78797D")
                                    path(d="M8.16669 8H9.83335V9.66667H8.16669V8Z" fill="#78797D")
                                    path(d="M13.1667 8H11.5V9.66667H13.1667V8Z" fill="#78797D")
                                    path(fill-rule="evenodd" clip-rule="evenodd" d="M9.34502 2.16667H16.5C16.721 2.16667 16.933 2.25446 17.0893 2.41074C17.2456 2.56702 17.3334 2.77899 17.3334 3V14.6667C17.3334 14.8877 17.2456 15.0996 17.0893 15.2559C16.933 15.4122 16.721 15.5 16.5 15.5H1.50002C1.27901 15.5 1.06705 15.4122 0.910765 15.2559C0.754484 15.0996 0.666687 14.8877 0.666687 14.6667V1.33333C0.666687 1.11232 0.754484 0.900358 0.910765 0.744078C1.06705 0.587797 1.27901 0.5 1.50002 0.5H7.67835L9.34502 2.16667ZM2.33335 2.16667V13.8333H15.6667V3.83333H8.65502L6.98835 2.16667H2.33335Z" fill="#78797D")
                                p Archive
                        li
                            a(href="")
                                svg(xmlns="http://www.w3.org/2000/svg" width="18" height="16" viewBox="0 0 18 16" fill="none")
                                    path(d="M6.50002 8H4.83335V9.66667H6.50002V8Z" fill="#78797D")
                                    path(d="M8.16669 8H9.83335V9.66667H8.16669V8Z" fill="#78797D")
                                    path(d="M13.1667 8H11.5V9.66667H13.1667V8Z" fill="#78797D")
                                    path(fill-rule="evenodd" clip-rule="evenodd" d="M9.34502 2.16667H16.5C16.721 2.16667 16.933 2.25446 17.0893 2.41074C17.2456 2.56702 17.3334 2.77899 17.3334 3V14.6667C17.3334 14.8877 17.2456 15.0996 17.0893 15.2559C16.933 15.4122 16.721 15.5 16.5 15.5H1.50002C1.27901 15.5 1.06705 15.4122 0.910765 15.2559C0.754484 15.0996 0.666687 14.8877 0.666687 14.6667V1.33333C0.666687 1.11232 0.754484 0.900358 0.910765 0.744078C1.06705 0.587797 1.27901 0.5 1.50002 0.5H7.67835L9.34502 2.16667ZM2.33335 2.16667V13.8333H15.6667V3.83333H8.65502L6.98835 2.16667H2.33335Z" fill="#78797D")
                                p Deleted

                          
                li
                    a(href="")
                        svg(xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none")
                            path(d="M1.66669 18.3333C1.66669 16.5652 2.36907 14.8695 3.61931 13.6193C4.86955 12.369 6.56524 11.6667 8.33335 11.6667C10.1015 11.6667 11.7972 12.369 13.0474 13.6193C14.2976 14.8695 15 16.5652 15 18.3333H13.3334C13.3334 17.0072 12.8066 15.7355 11.8689 14.7978C10.9312 13.8601 9.65944 13.3333 8.33335 13.3333C7.00727 13.3333 5.7355 13.8601 4.79782 14.7978C3.86014 15.7355 3.33335 17.0072 3.33335 18.3333H1.66669ZM8.33335 10.8333C5.57085 10.8333 3.33335 8.59583 3.33335 5.83333C3.33335 3.07083 5.57085 0.833328 8.33335 0.833328C11.0959 0.833328 13.3334 3.07083 13.3334 5.83333C13.3334 8.59583 11.0959 10.8333 8.33335 10.8333ZM8.33335 9.16666C10.175 9.16666 11.6667 7.67499 11.6667 5.83333C11.6667 3.99166 10.175 2.49999 8.33335 2.49999C6.49169 2.49999 5.00002 3.99166 5.00002 5.83333C5.00002 7.67499 6.49169 9.16666 8.33335 9.16666ZM15.2367 12.2525C16.4078 12.7799 17.4017 13.6344 18.0988 14.7131C18.796 15.7918 19.1668 17.0489 19.1667 18.3333H17.5C17.5002 17.37 17.2221 16.4271 16.6993 15.618C16.1764 14.8089 15.4309 14.168 14.5525 13.7725L15.2359 12.2525H15.2367ZM14.6634 2.84416C15.503 3.19024 16.2208 3.77794 16.7259 4.53269C17.2309 5.28743 17.5004 6.1752 17.5 7.08333C17.5004 8.22694 17.0731 9.32935 16.3021 10.174C15.5312 11.0187 14.4722 11.5446 13.3334 11.6483V9.97083C13.9508 9.88239 14.5236 9.59834 14.9678 9.16038C15.4119 8.72241 15.7039 8.1536 15.801 7.53744C15.898 6.92128 15.795 6.29024 15.507 5.73696C15.219 5.18367 14.7612 4.73728 14.2009 4.46333L14.6634 2.84416Z" fill="#78797D")
                        
                        p Users

                li
                    a(href="") 
                        svg(xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none")
                            path(d="M10 9.16666C11.1051 9.16666 12.1649 9.60564 12.9463 10.387C13.7277 11.1684 14.1667 12.2283 14.1667 13.3333V18.3333H12.5V13.3333C12.5001 12.6956 12.2564 12.0821 11.819 11.6181C11.3815 11.1542 10.7833 10.8749 10.1467 10.8375L10 10.8333C9.36235 10.8333 8.74876 11.0769 8.2848 11.5144C7.82085 11.9519 7.5416 12.5501 7.50419 13.1867L7.50002 13.3333V18.3333H5.83335V13.3333C5.83335 12.2283 6.27234 11.1684 7.05374 10.387C7.83514 9.60564 8.89495 9.16666 10 9.16666ZM4.58335 11.6667C4.81585 11.6667 5.04169 11.6942 5.25835 11.745C5.11587 12.1692 5.0315 12.6107 5.00752 13.0575L5.00002 13.3333V13.405C4.90423 13.3707 4.8046 13.3483 4.70335 13.3383L4.58335 13.3333C4.27262 13.3333 3.97303 13.4491 3.743 13.658C3.51298 13.8669 3.36902 14.154 3.33919 14.4633L3.33335 14.5833V18.3333H1.66669V14.5833C1.66669 13.8098 1.97398 13.0679 2.52096 12.5209C3.06794 11.9739 3.80981 11.6667 4.58335 11.6667ZM15.4167 11.6667C16.1902 11.6667 16.9321 11.9739 17.4791 12.5209C18.0261 13.0679 18.3334 13.8098 18.3334 14.5833V18.3333H16.6667V14.5833C16.6667 14.2726 16.5509 13.973 16.342 13.743C16.1331 13.513 15.846 13.369 15.5367 13.3392L15.4167 13.3333C15.2709 13.3333 15.1309 13.3583 15 13.4042V13.3333C15 12.7783 14.91 12.245 14.7425 11.7467C14.9584 11.6942 15.1842 11.6667 15.4167 11.6667ZM4.58335 6.66666C5.13589 6.66666 5.66579 6.88615 6.05649 7.27685C6.44719 7.66755 6.66669 8.19746 6.66669 8.74999C6.66669 9.30252 6.44719 9.83243 6.05649 10.2231C5.66579 10.6138 5.13589 10.8333 4.58335 10.8333C4.03082 10.8333 3.50092 10.6138 3.11021 10.2231C2.71951 9.83243 2.50002 9.30252 2.50002 8.74999C2.50002 8.19746 2.71951 7.66755 3.11021 7.27685C3.50092 6.88615 4.03082 6.66666 4.58335 6.66666ZM15.4167 6.66666C15.9692 6.66666 16.4991 6.88615 16.8898 7.27685C17.2805 7.66755 17.5 8.19746 17.5 8.74999C17.5 9.30252 17.2805 9.83243 16.8898 10.2231C16.4991 10.6138 15.9692 10.8333 15.4167 10.8333C14.8642 10.8333 14.3342 10.6138 13.9435 10.2231C13.5528 9.83243 13.3334 9.30252 13.3334 8.74999C13.3334 8.19746 13.5528 7.66755 13.9435 7.27685C14.3342 6.88615 14.8642 6.66666 15.4167 6.66666ZM4.58335 8.33332C4.47285 8.33332 4.36687 8.37722 4.28873 8.45536C4.21059 8.5335 4.16669 8.63948 4.16669 8.74999C4.16669 8.8605 4.21059 8.96648 4.28873 9.04462C4.36687 9.12276 4.47285 9.16666 4.58335 9.16666C4.69386 9.16666 4.79984 9.12276 4.87798 9.04462C4.95612 8.96648 5.00002 8.8605 5.00002 8.74999C5.00002 8.63948 4.95612 8.5335 4.87798 8.45536C4.79984 8.37722 4.69386 8.33332 4.58335 8.33332ZM15.4167 8.33332C15.3062 8.33332 15.2002 8.37722 15.1221 8.45536C15.0439 8.5335 15 8.63948 15 8.74999C15 8.8605 15.0439 8.96648 15.1221 9.04462C15.2002 9.12276 15.3062 9.16666 15.4167 9.16666C15.5272 9.16666 15.6332 9.12276 15.7113 9.04462C15.7895 8.96648 15.8334 8.8605 15.8334 8.74999C15.8334 8.63948 15.7895 8.5335 15.7113 8.45536C15.6332 8.37722 15.5272 8.33332 15.4167 8.33332ZM10 1.66666C10.8841 1.66666 11.7319 2.01785 12.357 2.64297C12.9822 3.26809 13.3334 4.11593 13.3334 4.99999C13.3334 5.88405 12.9822 6.73189 12.357 7.35701C11.7319 7.98213 10.8841 8.33332 10 8.33332C9.11597 8.33332 8.26812 7.98213 7.643 7.35701C7.01788 6.73189 6.66669 5.88405 6.66669 4.99999C6.66669 4.11593 7.01788 3.26809 7.643 2.64297C8.26812 2.01785 9.11597 1.66666 10 1.66666ZM10 3.33332C9.55799 3.33332 9.13407 3.50892 8.82151 3.82148C8.50895 4.13404 8.33335 4.55796 8.33335 4.99999C8.33335 5.44202 8.50895 5.86594 8.82151 6.1785C9.13407 6.49106 9.55799 6.66666 10 6.66666C10.442 6.66666 10.866 6.49106 11.1785 6.1785C11.4911 5.86594 11.6667 5.44202 11.6667 4.99999C11.6667 4.55796 11.4911 4.13404 11.1785 3.82148C10.866 3.50892 10.442 3.33332 10 3.33332Z" fill="#78797D")
                           
                        p Team
                li
                    a(href="")
                        svg(xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none")
                            path(d="M5.83335 4.16668V1.66668C5.83335 1.44566 5.92115 1.2337 6.07743 1.07742C6.23371 0.921141 6.44567 0.833344 6.66669 0.833344H13.3334C13.5544 0.833344 13.7663 0.921141 13.9226 1.07742C14.0789 1.2337 14.1667 1.44566 14.1667 1.66668V4.16668H17.5C17.721 4.16668 17.933 4.25447 18.0893 4.41075C18.2456 4.56703 18.3334 4.779 18.3334 5.00001V16.6667C18.3334 16.8877 18.2456 17.0997 18.0893 17.2559C17.933 17.4122 17.721 17.5 17.5 17.5H2.50002C2.27901 17.5 2.06704 17.4122 1.91076 17.2559C1.75448 17.0997 1.66669 16.8877 1.66669 16.6667V5.00001C1.66669 4.779 1.75448 4.56703 1.91076 4.41075C2.06704 4.25447 2.27901 4.16668 2.50002 4.16668H5.83335ZM3.33335 13.3333V15.8333H16.6667V13.3333H3.33335ZM3.33335 11.6667H16.6667V5.83334H3.33335V11.6667ZM7.50002 2.50001V4.16668H12.5V2.50001H7.50002ZM9.16669 9.16668H10.8334V10.8333H9.16669V9.16668Z" fill="#78797D")
                           
                        p Jobs
                li
                    a(href="") 
                        svg(xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none")
                            path(d="M5.37919 15.8333L1.66669 18.75V3.33333C1.66669 3.11232 1.75448 2.90036 1.91076 2.74408C2.06704 2.5878 2.27901 2.5 2.50002 2.5H17.5C17.721 2.5 17.933 2.5878 18.0893 2.74408C18.2456 2.90036 18.3334 3.11232 18.3334 3.33333V15C18.3334 15.221 18.2456 15.433 18.0893 15.5893C17.933 15.7455 17.721 15.8333 17.5 15.8333H5.37919ZM4.80252 14.1667H16.6667V4.16667H3.33335V15.3208L4.80252 14.1667ZM9.16669 8.33333H10.8334V10H9.16669V8.33333ZM5.83335 8.33333H7.50002V10H5.83335V8.33333ZM12.5 8.33333H14.1667V10H12.5V8.33333Z" fill="#78797D")
                        p Messages 
                            span (38)


                li
                    a(href="")
                        svg(xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none")
                            path(d="M2.50002 2.5H17.5C17.721 2.5 17.933 2.5878 18.0893 2.74408C18.2456 2.90036 18.3334 3.11232 18.3334 3.33333V16.6667C18.3334 16.8877 18.2456 17.0996 18.0893 17.2559C17.933 17.4122 17.721 17.5 17.5 17.5H2.50002C2.27901 17.5 2.06704 17.4122 1.91076 17.2559C1.75448 17.0996 1.66669 16.8877 1.66669 16.6667V3.33333C1.66669 3.11232 1.75448 2.90036 1.91076 2.74408C2.06704 2.5878 2.27901 2.5 2.50002 2.5ZM16.6667 6.03167L10.06 11.9483L3.33335 6.01333V15.8333H16.6667V6.03167ZM3.75919 4.16667L10.0509 9.71833L16.2517 4.16667H3.75919Z" fill="#78797D")
                        p Mail
            
                li
                    a(href="")
                        svg(xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none")
                            path(d="M9.08335 1.75L17.3325 2.92917L18.5108 11.1792L10.8509 18.8392C10.6946 18.9954 10.4827 19.0832 10.2617 19.0832C10.0407 19.0832 9.82879 18.9954 9.67252 18.8392L1.42252 10.5892C1.26629 10.4329 1.17853 10.221 1.17853 10C1.17853 9.77903 1.26629 9.56711 1.42252 9.41083L9.08335 1.75ZM9.67252 3.51833L3.19002 10L10.2617 17.0708L16.7433 10.5892L15.86 4.40167L9.67252 3.51833ZM11.4392 8.82167C11.1266 8.50893 10.951 8.08482 10.9511 7.64262C10.9511 7.42367 10.9943 7.20687 11.0781 7.0046C11.1619 6.80233 11.2847 6.61855 11.4396 6.46375C11.5944 6.30895 11.7783 6.18617 11.9806 6.10242C12.1829 6.01867 12.3997 5.97558 12.6186 5.97562C13.0608 5.9757 13.4849 6.15143 13.7975 6.46417C14.1101 6.7769 14.2857 7.20102 14.2856 7.64321C14.2856 8.08541 14.1098 8.50946 13.7971 8.82208C13.4844 9.13471 13.0603 9.31029 12.6181 9.31021C12.1759 9.31014 11.7518 9.1344 11.4392 8.82167Z" fill="#78797D")
                        p Labels
              



        .hire-main
            section.main-title
                .container
                    .main-title-flex
                        h1 Hires 
                            span (192)
                        form(action="")
                            svg(xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none")
                                path(d="M14.0259 12.8475L17.595 16.4158L16.4159 17.595L12.8475 14.0258C11.5198 15.0902 9.86835 15.6691 8.16669 15.6667C4.02669 15.6667 0.666687 12.3067 0.666687 8.16667C0.666687 4.02667 4.02669 0.666666 8.16669 0.666666C12.3067 0.666666 15.6667 4.02667 15.6667 8.16667C15.6691 9.86833 15.0902 11.5198 14.0259 12.8475ZM12.3542 12.2292C13.4118 11.1416 14.0024 9.68369 14 8.16667C14 4.94333 11.3892 2.33333 8.16669 2.33333C4.94335 2.33333 2.33335 4.94333 2.33335 8.16667C2.33335 11.3892 4.94335 14 8.16669 14C9.68371 14.0024 11.1416 13.4118 12.2292 12.3542L12.3542 12.2292Z" fill="#78797D")
                            input(type="text" placeholder="Search by ID, PayPal, Client Name") 
            section.main
                .container
                    ul.tabs
                        li(data-tab-target="#all" class="active tab") All
                        li(data-tab-target="#Unassigned" class="tab") Unassigned 
                            span (0)
                        li(data-tab-target="#team1" class="tab") Team 1 
                            span (31)
                        li(data-tab-target="#team2" class="tab") Team 2
                            span (16)
                        li(data-tab-target="#team3" class="tab") Team 3
                            span (30)
                        li(data-tab-target="#team4" class="tab") Team 4
                            span (18)
                        li(data-tab-target="#team5" class="tab") Team 5
                            span (1)
                        li(data-tab-target="#team6" class="tab") Team 6
                            span (5)
                        li(data-tab-target="#team7" class="tab") Team 7
                            span (18)
                        li(data-tab-target="#proj" class="tab") Projects to be charged
                            span (2)
                    .tab-content
                        div(id="all" data-tab-content class="active")
                            block project
                                include ../blocks/project.pug
                            block project
                                include ../blocks/project.pug
                            block project
                                include ../blocks/project.pug
                            block project
                                include ../blocks/project.pug
                            block project
                                include ../blocks/project.pug
                            block project
                                include ../blocks/project.pug
                         
                            
                        div(id="Unassigned" data-tab-content )
                            block project
                                include ../blocks/project.pug
                            block project
                                include ../blocks/project.pug
                            
                        div(id="team1" data-tab-content )
                            block project
                                include ../blocks/project.pug
                            block project
                                include ../blocks/project.pug
                            block project
                                include ../blocks/project.pug
                        div(id="team2" data-tab-content )
                            block project
                                include ../blocks/project.pug
                            block project
                                include ../blocks/project.pug
                            block project
                                include ../blocks/project.pug
                            block project
                                include ../blocks/project.pug
                        div(id="team3" data-tab-content )
                            block project
                                include ../blocks/project.pug
                            block project
                                include ../blocks/project.pug
                            block project
                                include ../blocks/project.pug
                            block project
                                include ../blocks/project.pug
                            block project
                                include ../blocks/project.pug
                        div(id="team4" data-tab-content )
                            block project
                                include ../blocks/project.pug
                            block project
                                include ../blocks/project.pug
                            block project
                                include ../blocks/project.pug
                            block project
                                include ../blocks/project.pug
                            block project
                                include ../blocks/project.pug
                            block project
                                include ../blocks/project.pug
                        div(id="team5" data-tab-content )
                            block project
                                include ../blocks/project.pug
                            block project
                                include ../blocks/project.pug
                            block project
                                include ../blocks/project.pug
                        div(id="team6" data-tab-content )
                            block project
                                include ../blocks/project.pug
                            block project
                                include ../blocks/project.pug
                            block project
                                include ../blocks/project.pug
                        div(id="team7" data-tab-content )
                            block project
                                include ../blocks/project.pug
                            block project
                                include ../blocks/project.pug
                            block project
                                include ../blocks/project.pug
                        div(id="proj" data-tab-content )
                            block project
                                include ../blocks/project.pug
                            block project
                                include ../blocks/project.pug
                            block project
                                include ../blocks/project.pug
                    
                
