doctype html

block variables

block links

block scripts

html(lang='en')
	head
		meta(charset='UTF-8')
		meta(name="viewport" content="width=1248, initial-scale=1")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		title #{title}
		link(rel='stylesheet', type='text/css', href="css/pages/" + link)
		link(rel="icon" href="img/favicon.png" sizes="32x32")
		link(rel="preconnect" href="https://fonts.gstatic.com")
		link(href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet")
		script(src="https://code.jquery.com/jquery-3.5.1.js"
		integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
		crossorigin="anonymous")
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" integrity="sha512-H9jrZiiopUdsLpg94A333EfumgUBpO9MdbxStdeITo+KEIMaNfHNvwyjjDJb+ERPaRS6DpyRlKbvPUasNItRyw==" crossorigin="anonymous")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.js" integrity="sha512-j7/1CJweOskkQiS5RD9W8zhEG9D9vpgByNGxPIqkO5KrXrwyDAroM9aQ9w8J7oRqwxGyz429hPVk/zR6IOMtSA==" crossorigin="anonymous")
		link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css")
		script(src="https://cdn.jsdelivr.net/npm/flatpickr")
	body
		block header
		block content
		block footer
		script(type="text/javascript" src="js/" + js)


